exportPattern("^[[:alpha:]]+")

importFrom("graphics", "boxplot", "lines", "matplot", "plot")
    importFrom("methods", "callNextMethod", "new")
    importFrom("stats", "density", "kruskal.test", "ks.test", "median",
               "na.omit", "quantile")

S3method(calcNormFactors,DGEList)
S3method(calcNormFactors,default)

